a {
	&:hover {
		text-decoration: none;
	}
}

#dropdown-basic{
  margin-left: auto; 
  margin-right: 0;
}

.dropdown-toggle {
	&::after {
		display: none !important;
	}
}

.btn{
	box-shadow: none !important
}